body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
  } 
  
  main {
    flex: 1 0 auto;
  }
  table {
    width: 100%;
    text-align: start;
}
table, th, td {
    border: 1px solid #e7dede;
    border-collapse: collapse;
    text-align: start;
    
}
th {
    padding: 10px;
    font-family: 'Oswald', sans-serif; 
    color: #670000;
}
td {
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}
.bg-fff{
    background-color: #fff !important;
}
.clr-fff{
    color: #fff !important;
}
.clr-333{
    color: #333 !important;
}
.clr-red{
    color: #670000 !important;
}
.w-res-60{
    width: 60%;
}
.w-res-40{
    width: 38%;
}
.overflow-auto{
    overflow: auto;
}
  /* start welcome animation */
  #theDIV {
    width: 100%;
    text-align: center;
    display: none;
  }
  #theDIV img {
    width: 24px;
    margin-right: 10px;
}
.mainNav button img {
    width: 20px;
}
.mainNav button {
    position: absolute;
    right: 25px;
    top: 30px;
    font-weight: bold;
    border: 0;
    background: #FFEFAE;
}
  body.welcome {
    /* background: #512da8; */
    /* overflow: hidden; */
    -webkit-font-smoothing: antialiased;
    margin: 0;
  }
  
  .welcome .splash {
    height: 0px;
    padding: 0px !important;
    position: fixed;
    left: 50%;
    top: 100%;
    display: block;
    box-sizing: initial;
    overflow: hidden;
  
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  }
  
  .welcome #welcome {
    background: #670000 ;
    width: 56px;
    height: 95px;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, hide 2s 2.9s ease forwards;
  }
     
  /* moveIn */
  .welcome .mainNav,
  .welcome .about-page1,.welcome .about-info,.welcome .may-about,.welcome .experties-section,.welcome .header--info,.welcome footer,.welcome .header--info1 {
    opacity: 0;
    animation: moveIn 2s 3.1s ease forwards;
  }
  
  @keyframes init {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 56px;
      height: 56px;
      margin-top: 0px;
      opacity: 1;
    }
  }
  
  @keyframes puff {
    0% {
      top: 100%;
      height: 0px;
      padding: 0px;
    }
    100% {
      top: 50%;
      height: 100%;
      padding: 0px 100%;
    }
  }
  
  @keyframes borderRadius {
    0% {
      border-radius: 50%;
    }
    100% {
      border-radius: 0px;
    }
  }
  
  @keyframes moveDown {
    0% {
      top: 50%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 100%;
    }
  }
  
  @keyframes moveUp {
    0% {
      background: #FFEFAE;
      top: 100%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 50%;
      background: #670000;
    }
  }
  
  @keyframes materia {
    0% {
      background: #670000;
    }
    50% {
      background: #fad6d6;
      top: 26px;
    }
    100% {
      background: #FFEFAE;
      width: 100%;
      height: 64px;
      border-radius: 0px;
      top: 26px;
    }
  }
  
  @keyframes moveIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  } 
  .mainNav .logo-home a {
    position: absolute;
    left: 25px;
    top: 16px;
    font-size: 35px;
    font-weight: bold;
}
  .header--info {
    background-color: #FFEFAE;
    height: calc(100vh - 95px);
    display: flex;
    justify-content: center;
    align-items: center;
}
  .header--info h1 {
    font-size: 200px;
    color: #670000;
    text-align: center;
    margin: 0;
}
  .header--info p {
    color: #670000;
    font-size: 30px;
    font-weight: 300;
    text-align: right;
}
.header--info p a{
    text-decoration: underline;
    cursor: pointer;
    color: #333;
    font-size: 32px;
}
/* common css starts here */
.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }
h1,h2,h3,h4,h5{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Oswald', sans-serif; 
}
label,span,a,input,textarea,ul,ol{
    font-family: 'Ubuntu', sans-serif;
}
/* ends here */
#container {
    min-width:240px;
    max-width:1200px;
    width:90%;
    margin:0 auto;
    background: #dad9d8;
}

main {
    /* padding:1em; */
    margin:0;
}

header{
    background:#fff;
}
.header--info1 {
    background-color: #FFEFAE;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header--info1 h1 {
    display: flex;
    align-items: center;
    color: #670000;
}
.header--info1 img {
    width: 20%;
    margin-right: 50px;
}
/* main nav styles */

.mainNav {
    position:sticky;
    top:0;
    /* background-color: #ffefae; */
    background-color: #FFEFAE;
    min-height: 95px;
    z-index: 1000;
}
.mainNav ul {
    list-style-type:none;
    padding:20px;
    margin:0;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 65px;
}

.mainNav li {
    padding-right: 30px;
}   
.mainNav a {
    background-repeat:no-repeat;
    background-size:40px auto;
    background-position: .5em center;
    min-height:50px;
    line-height:50px;
    text-decoration:none;
    display:block;
    color:#670000;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    /* text-align: center; */
}
.mainNav a:hover {
    border-bottom: 2px solid #670000;
} 
.mainNav a:active {
    border-bottom: 2px solid #670000;
}
.mainNav a:focus {
    border-bottom: 2px solid #670000;
}
.about-main img {
    width:100%;
    height: auto;
    display:block;
    padding:0;
    margin:0 auto;
    max-width: 350px;
}
.header--info .container {
    width: 100%;
}
#subImg {
    width:50%;
    min-width:200px;
    max-width:300px;
    margin:1em;
}

#newsContainer img {
    max-width:290px;
}

/* News page styles */
#newsContainer {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#newsContainer .container {
    margin:.8em .2em;
    width:calc(33% - .4em);
    box-sizing: border-box;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color: rgba(255, 224, 179, 0.2);
}

#newsContainer h3, #newsContainer p {
    width:90%;
    padding:0;
    margin:1em auto;
}

.button {
    padding:.8em;
    background-color: #ff7b00;
    color:rgb(17, 17, 17);
    text-transform: uppercase; 
    text-decoration: none;
    display:block;
    margin:.8em auto .8em 0;
    width:100px;
}
/* new css stailing starts herer */
.about-page1{
    display: flex;
    justify-content: center;
}
.about-main{
    display: flex;
    align-items: center;
    max-width: 1150px;
    padding: 20px;
}
.about-info h2{
    font-size: 50px;
    display: block;
    line-height: 1.4;
    margin-bottom: 22px;
    color: #670000;
    font-family: 'Poppins', sans-serif;
}
.about-info p{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 35px;
    padding-right: 50px;
    font-family: 'Oswald', sans-serif;
}
/* second section about exp */
.may-about{
    background: #670000;
}
.section-padding40 {
    padding-top: 140px;
    padding-bottom: 130px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.section-tittle2 h2 {
    color: #fff;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 30px;
}
.may-about .single-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 13px 0px;
    border-bottom: 1px solid #700F0F;
    width: 100%;
}
.may-about .single-about .tittle-experience {
    padding-top: 15px;
    padding-bottom: 10px;
}
.may-about .single-about .tittle-experience h3{
    font-weight: 300;
    font-size: 30px;
    color: #FFEFAE;
    margin-bottom: 19px;
}
.may-about .single-about .tittle-experience p {
    font-weight: 300;
    font-size: 16px;
    color: #fff;
}
.may-about .single-about .experience-link a {
    font-weight: 300;
    font-size: 16px;
    color: #FFEFAE;
    display: flex;
}
.may-about .single-about .experience-link a img{
    width: 16px;
    margin-left: 7px;
    height: 16px;
}
p.follow--imgs {
    display: flex;
}
.follow--imgs img{
    width: 20px;
    margin-right: 10px;
}
input{
    border: 1px solid #853023;
    height: 50px;
    padding: 10px 25px;
    padding-right: 25px;
    padding-right: 30px;
    color: #FFEFAE;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 0px;
    background: none;
    padding: 0;
    padding-left: 10px;
    width: 96%;
    margin: 0;
}
textarea {
    color: #FFEFAE;
    border: 1px solid #853023;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: capitalize;
    height: 180px;
    width: 100%;
    padding: 30px 50px;
    border-radius: 0px;
    background: none;
    margin-top: 20px;
    width: 91.3%;
}
.tittle-experience input::placeholder,.tittle-experience textarea::placeholder{
    color: #FFEFAE;
}
.tittle-experience input.clr-333::placeholder,.tittle-experience textarea.clr-333::placeholder{
    color: #333;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: end;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
input:focus::placeholder,textarea:focus::placeholder {
    color: transparent;
    transition: 0.5s;
}
.btn {
    border: none;
    padding: 10px 65px 10px 31px;
    text-transform: capitalize;
    border-radius: 0px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    background-size: 200%;
    transition: 0.6s;
    box-shadow: 0px 7px 21px 0px rgb(0 0 0 / 12%);
    background-image: linear-gradient(to left, #670000, #880707, #670000);
    background-position: right;
    text-decoration: none;
}
.f-right {
    float: right;
}
  .white-btn {
    padding: 18px 36px;
    background: #FFEFAE;
    color: #670000 !important;
}
.m-0{
    margin: 0;
}
.p-0{
    padding: 0;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.col-1{
    width: 10%;
}
.col-2{
    width: 10%;
}
.col-3{
    width: 30%;
}
.col-4{
    width: 40%;
}
.col-5{
    width: 50%;
}
.col-6{
    width: 60%;
}
.col-7{
    width: 70%;
}
.col-8{
    width: 80%;
}
.col-9{
    width: 90%;
}
.col-10{
    width: 100%;
    display: flex;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
/* ends here */
/* experties section starts here */
.experties-section{
    background-color:#FFEFAE;
}
.experties-section .tittle-experience{
    background-color: #fff;
    padding: 20px 35px;
    min-height: 275px;
}
.experties-section .projects-details .tittle-experience{
    min-height: 200px;
    transition: transform .2s;
    border-radius: 10px;
}
.experties-section .projects-details .tittle-experience:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.experties-section h3{
    font-weight: 300;
    font-size: 30px;
    color: #670000;
    margin-bottom: 30px;
    line-height: 35px;
}
.experties-section p {
    font-weight: 300;
    font-size: 16px;
    color: #333;
    letter-spacing: 0.7px;
    line-height: 20px;
}
.tittle-experience img{
    width: 200px;
}
.umg-img{
    width: auto !important;
}
.tittle-experience .hover-projects{
    display: none;
}
.tittle-experience:hover .hover-projects{
    display: block !important;
    background: #edf3edf2;
    width: 100%;
    height: 100%;
    position: ABSOLUTE;
    top: 0;
    left: 0;
    text-align: center;
    color: #670000;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
}
/* ends here */
#myBtn {
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    background-image: url(./images/top.png);
    background-position: center;
    background-size: 25px;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
    border: 2px solid #ffefae;
    background-color: #fff;
  }
  
  #myBtn:hover {
    background-image: url(./images/top1.png);
    border: 2px solid #670000;
    background-position: center;
    background-size: 25px;
    transform: scale(2.1);
    bottom: 40px !important;
  }
.wrap {
    flex-wrap: wrap;
}
.info-main{
    flex-wrap: wrap;
}
/* #theDIV{
    display: none;
} */
span.navText{
    display: flex;
    margin: 5px 0;
}
.ml-20p{
    margin-left: 2%;
}
.media.contact-info{
    display: flex;
    margin-bottom: 30px;
}
.w-res-40 img.mr-20 {
    max-width: 55px;
    height: 20%;
    width: auto;
    margin-right: 20px;
}
.media-body h3 {
    color: #333 !important;
    font-size: 20px !important;
    margin: 0 !important;
}
.media-body p {
    color: #999 !important;
    margin: 0 !important;
}
@media (min-width:320px) and (max-width:767px){
    .ml-20p{
        margin: 0%;
    }
    .media-body p{
        font-size: 14px !important;
    }
    .media-body h3{
        font-size: 18px !important;  
    }
    .w-res-60,.w-res-40{
        width: 100%;
    }
    .w-res-40{
        order: 1;
    }
    .w-res-60{
        order: 2;
    }
    .header--info1 h1 {
        font-size: 24px;
    }
    .mainNav button{
        display: block;
    }
    .desk-nav{
        display: none !important;
    }
    .mainNav a{
        min-height: 25px;
        line-height: initial;
    }
    footer p,footer h3 {
        font-size: 14px;
    }
    .mainNav ul{
        padding-top: 90px;
        justify-content: space-between;
    }
    .header--info{
        height: calc(100vh - 320px);
    }
    .about-info h2{
        font-size: 22px;
        margin-bottom: 0;
    }
    .about-info p{
        padding-right: 0px;
        margin-top: 0;
    }
    .col-xs-5{
        width: 45%;
        display: flex;
    }
    .col-xs-10{
        width: 100%;
    }
    .col-10{
        width: 100%;
        display: flex;
    }
    .may-about .section-tittle2 h2{
        font-size: 54px;
        margin-bottom: 0px;  
    }
    .may-about.contact--me .section-tittle2 h2{
        font-size: 28px;
    }
    .header--info h1{
        font-size: 100px;
    }
    .header--info p{
        font-size: 20px;
        margin: 0;   
    }
}
@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) and (max-width:1024px){
    .mainNav button,#theDIV{
        display: none !important;
    }
    .mainNav ul{
        justify-content: end;
    }
    .container {
        max-width: 720px;
    }
    .col-sm-5{
        width: 45%;
    }
    .col-sm-10{
        width: 100%;
    }
    .experties-section .tittle-experience{
        min-height: 315px;
    }
    .may-about.contact--me .section-tittle2 h2{
        font-size: 34px;
    }
    .col-sm-7{
        width: 70%;
    }
    .about-main img{
        max-width: 340px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
    .mainNav button,#theDIV{
        display: none !important;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1200px;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px){
    .about-info h2 {
        font-size: 52px;
    }
}



/* ends here */